.Rproj.user
*.Rproj
.RData
.nojekyll
site_libs/
site_libs/**
misc_files/**
/misc_files/**
boxplot_files/**
/boxplot_files/**
/site_libs/**
/site_libs/bootstrap-3.3.5/**
site_libs/bootstrap-3.3.5/**
/site_libs/bootstrap-3.3.5/css/**
site_libs/bootstrap-3.3.5/css/**
/site_libs/bootstrap-3.3.5/fonts/**
site_libs/bootstrap-3.3.5/fonts/**
/site_libs/bootstrap-3.3.5/js/**
site_libs/bootstrap-3.3.5/js/**
/site_libs/bootstrap-3.3.5/shim/**
site_libs/bootstrap-3.3.5/shim/**
/site_libs/header-attrs-2.16/**
site_libs/header-attrs-2.16/**
/site_libs/jquery-3.6.0/**
site_libs/jquery-3.6.0/**
/site_libs/navigation-1.1/**
site_libs/navigation-1.1/**
footer.html
.Rmd
